<style>
  body {
    background: #23255a;
  }
  
  .site-name {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    text-decoration: none
  }
  .site-name:hover {
    opacity: 0.7;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background: #23255a;
  }
  
  .header-right {
    display: flex;
    gap: 22px;
    position: relative;
  }
  
  .nav-link {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;
    opacity :1;
    transition: opacity .2s ease;
  }
  
  .nav-link:hover {
    opacity: 0.7;
  }
  
  .dropdown { position: relative; }
  
  .dropdown-menu {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity .25s ease, transform .4s cubic-bezier(.2,.9,.28,1);
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 180px;
    background: #1f1f22;
    border-radius: 10px;
    padding: 8px 0;
    box-shadow: 0 14px 28px rgba(0,0,0,0.35);
    z-index: 40;
    pointer-events: none;
  }
  
  .dropdown:hover > .nav-link {
    opacity: 0.75;
  }
  
  .dropdown:hover .dropdown-menu,
  .dropdown:focus-within .dropdown-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  
  .dropdown-menu a {
    display: block;
    padding: 10px 16px;
    color: #e9e9e9;
    text-decoration: none;
    font-size: 16px;
    border-radius: 6px;
  
    transition: 
      background .20s ease,
      transform .25s cubic-bezier(.25, .85, .35, 1.3),
      color .1s ease;
      opacity .2s ease;
    
    opacity: 1;
  }
  
  .dropdown-menu a:hover {
    background: rgba(255,255,255,0.09);  
    transform: translateY(-2px);
    color: #fff;
    opacity: 0.8;
  }

</style>
