<style>
 /* SET STUFF */
  @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

  * { box-sizing: border-box; }
  
  html, body {
    background: #8c8fc6;
    margin: 0;
    padding: 0;
  }

  /* ================ */
  /* ==== HEADER ==== */
  /* ================ */

  .site-name {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    text-decoration: none
  }
  .site-name:hover {opacity: 0.7;}
  
  .header {
    position: fixed;
    top: 2%;
    left: 2%;
    right: 2%;
  
    background: transparent;
    padding: 16px 24px;
    border-radius: 12px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    z-index: 9999;
    box-shadow: none;
    transition:
      background 0.28s ease,
      box-shadow 0.28s ease,
      backdrop-filter 0.28s ease;
  }

  .header.scrolled{
    background: rgba(0,0,0,0.85);
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
  }
  
  .header-right {
    display: flex;
    gap: 22px;
    align-items: center;
  }
  
  .nav-link {
    position: relative;  
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;

    opacity: 1;
    transition: opacity .2s ease;
  }

  .nav-link:hover {
    opacity: 0.7;
  }

  .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;  
    width: 100%;
    height: 2px;
    background: #fff;

    transform: scaleX(0);
    transform-origin: left; 
    transition: transform 0.25s cubic-bezier(.4, 0, .2, 1);
  }

  .nav-link:hover::after {
    transform: scaleX(1);
  }
  
  .dropdown { position: relative; }
  
  .dropdown-menu {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity .25s ease, transform .4s cubic-bezier(.2,.9,.28,1);
    position: absolute;
    top: 100%);
    left: 0;
    min-width: 180px;
    background: #1f1f22;
    border-radius: 10px;
    padding: 8px 0;
    box-shadow: 0 14px 28px rgba(0,0,0,0.35);
    z-index: 40;
    pointer-events: none;
  }
  
  .dropdown:hover > .nav-link {
    opacity: 0.75;
  }
  
  .dropdown:hover .dropdown-menu,
  .dropdown:focus-within .dropdown-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(15px);
    pointer-events: auto;
  }
  
  .dropdown-menu a {
    display: block;
    padding: 10px 16px;
    color: #e9e9e9;
    text-decoration: none;
    font-size: 16px;
    border-radius: 6px;
  
    transition: 
      background .20s ease,
      transform .25s cubic-bezier(.25, .85, .35, 1.3),
      color .1s ease;
    opacity .2s ease;
  
    opacity: 1;
  }
  
  .dropdown-menu a:hover {
    background: rgba(255,255,255,0.09);  
    transform: translateY(-2px);
    color: #fff;
    opacity: 0.8;
  }

  /* ================ */
  /* ==== BANNER ==== */
  /* ================ */
  
  .banner-box {
    width: 100%;
    height: 300px;
    background: #1d2038; 
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin: 0;
    margin-top: 0px;
  
    padding: 0;  
    box-sizing: border-box;
  }
  
 .banner-box h1 {
   margin: 0;
   font-size: 4em;
   color: white;
   text-align: center;
   line-height: 1;
   text-shadow:
     0px 2px 5px rgba(255,255,255,0.4),
     0px 4px 10px rgba(255,255,255,0.3),
     0px 8px 20px rgba(0,0,0,0.2),
     0px 16px 40px rgba(0,0,0,0.1);
 }
  /* ============== */
  /* ==== MAIN ==== */
  /* ============== */

</style>
